<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="fmt" version="7.0.1" targetFramework="native" />
  <package id="googletestmock.v.140" version="1.0.1" targetFramework="native" />
  <package id="Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn" version="1.8.1.6" targetFramework="native" />
</packages>